<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
    <h1>用户资料页面</h1>
    <div>
        {{ user.id }}
    </div>
    <div>
        {{ user.name }}
    </div>
    <div>
        {{ user.password }}
    </div>
    <h1>Upload new file</h1>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('.add_img') }}">
        <input type="file" name="file">
        <button >Upload</button>
    </form>
    {% for msg in get_flashed_messages()  %}
        <div>
            {{ msg }}
        </div>
    {% endfor %}
</body>
</html>